name: Workflow Publisher

on:
  push:
    branches: "main"
    paths:
    - 'templates/**'
jobs:
  publish-workflow-template:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target_repo: [ 
            'terraform-redis-cluster-gcp', 
            'terraform-grafana-synthetic-monitoring-checks', 
            'grafana-observability-stack', 
            'terraform-gcp-metrics-grafana-datasource', 
            'terraform-google-iam-service-account', 
            'terraform-confluent-kafka-cluster', 
            'terraform-aws-s3-bucket-object', 
            'terraform-aws-s3-bucket'
        ]
    steps:
      - name: Checkout Workflows
        uses: actions/checkout@v2
        with:
          path: main/workflow
      - name: Checkout target repo
        uses: actions/checkout@v2
        with:
          repository: ${{ github.repository_owner }}/${{ matrix.target_repo }}
          path: ${{ matrix.target_repo }}
          token: ${{ secrets.RW_REPO}}
          ref: main
      - name: Update workflows
        shell: bash
        run: |
          mkdir -p .github/workflows/
          cp ../main/workflow/templates/release-drafter.yml .github/workflows/
          cp ../main/workflow/templates/release-drafter-config.yml .github/release-drafter.yml
        working-directory: ./${{ matrix.target_repo }}
      - name: Publish workflows
        shell: bash
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "Github Agent | Workflows has updated"
          git push
        working-directory: ./${{ matrix.target_repo }}

